{% extends "halaman_utama/base/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> </head>

<body>
  <div class="py-5 text-white opaque-overlay" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_restaurant.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="text-gray-dark">Form Pendaftaran Paket Beasiswa</h1>

          <form class="" method="post" action="{% url 'daftarbeasiswa:registrasi_paket' %}">
            {% csrf_token %}
            <div class="form-group">
              <label>Kode</label>
              <input type="text" name="kode" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Nama Paket Beasiswa</label>
              <input type="text" name="nama_paket" class="form-control" required="required"> </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Jenis Paket Beasiswa</label>
              <br>
              <div class="btn-group">

                <select id="jenis-paket" name="jenis_paket">
                  <option value="Prestasi Akademik">Beasiswa Prestasi Akademik</option>
                  <option value="Bantuan Belajar"> Beasiswa Bantuan Belajar</option>
                  <option value="Tugas Akhir">Beasiswa Tugas Akhir</option>
                  <option value="Lainnya">Beasiswa Lainnya</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Deskripsi</label>
              <textarea class="form-control" id="exampleTextarea" rows="3" required="required" name="deskripsi"></textarea>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Syarat Beasiswa</label>
              <textarea class="form-control" id="exampleTextarea" rows="3" required="required" name="syarat_beasiswa"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Tambahkan Beasiswa</button>
          </form>

        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

{% endblock %}