{% extends "halaman_utama/base/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> </head>

<body>
	<!--
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="halaman_awal_donatur.html">
        <b>SIMBION</b>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav" style="opacity: 1;">
          <li class="nav-item" id="tab-pengumuman">
            <a class="nav-link" href="halaman_awal_donatur.html#pengumuman_halaman_awal">Pengumuman</a>
          </li>
          <li class="nav-item" id="tab-list-beasis">
            <a class="nav-link" href="halaman_awal_donatur.html#beasiswa_halaman_utama" id="tab-list-beasis">List Beasiswa</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kegiatan</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="List_beasiswa.html">Lihat Beasiswa Anda</a>
              <a class="dropdown-item" href="membuat_paket_beasiswa_baru.html">Membuat Paket Beasiswa Baru</a>
              <a class="dropdown-item" href="membuat_pendaftaran_beasiswa_dari_paket.html">Menambahkan Beasiswa dari Paket</a>
              <a class="dropdown-item" href="#">Membuat Pengumuman</a>
            </div>
          </li>
        </ul>
        <a class="btn navbar-btn ml-2 text-white btn-danger" href="Login.html">
          <i class="fa d-inline fa-lg fa-user-circle-o"></i>Logout</a>
      </div>
    </div>
  </nav>
-->
  <div class="py-5 opaque-overlay bg-light text-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="text-gray-dark">FORM PENDAFTARAN TAMBAH BEASISWA DARI PAKET</h1>
          <form class="" method="post" action="{% url 'daftarbeasiswa:registrasi_beasiswa' %}">
            {% csrf_token %}
            <div class="form-group">
              <label>Kode Beasiswa</label>
              <br>
              <select name='kodebeasiswa'>
                  {% for skema in skemabeasiswa %}
                    <option value = '{{ skema.kode }}'> {{ skema.kode }} </option>
                  {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label>No Urut</label>
              <input type="text" name="no_urut" class="form-control"> </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Tanggal Mulai Pendaftaran</label>
              <input name = "tanggal_mulai" type="date" class="form-control" id="inlineFormInput" placeholder="Jane Doe"> </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Tanggal Tutup Pendaftaran</label>
              <input name = "tanggal_selesai" type="date" class="form-control" id="inlineFormInput"> </div>

            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

{% endblock %}