{% extends "halaman_utama/base/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> </head>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <div class="card text-white p-5 bg-primary">
            <div class="card-body">
              <h1 class="mb-4">Login</h1>
              <form action="{% url 'login:auth_login' %}" method="POST">
                {% csrf_token %}
                <p>
                    <label for="username"> Username </label>
                    <input type="text" class="form-control" id="username" name="username" required="required">
                </p>
                <p>
                    <label for="password"> Password </label>
                    <input type="password" class="form-control" id="password" name="password" required="required">
                </p>
                <input type="submit" id="submit" class="btn btn-secondary" value="login">
              </form>
              {% if wrong_account == True %}
                <p id="wrong_account" style="color: red">Username not registered please re-enter your username</p>
              {% elif wrong_password == True %}
                <p id="wrong_account" style="color: red">wrong password, please re-enter it</p>
              {% endif %}
              <p class="lead">Doesn't have an account yet? Register now!</p>
              <a href='{% url "register:index" %}' class="btn btn-secondary">
                <i class="fa d-inline fa-lg fa-user-circle-o"></i> Register </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
