{% extends "halaman_utama/base/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'css/registrasi.css' %}" type="text/css"> </head>

  <div class="py-5 text-center" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-dark">Selamat Datang di Halaman Registrasi</h1>
          <p class="lead mb-3">Daftarkan diri anda sebagai:</p>
          <a href="#regis-mahasiswa" class="btn btn-lg mx-1 btn-secondary" onclick="ShowMahasiswa();">Mahasiswa</a>
          <a href="#regis-donatur-individual" class="btn btn-lg btn-primary mx-1" onclick="ShowDonaturIndividu();">Donatur Individual</a>
          <a href="#regis-donatur-yayasan" class="btn btn-lg btn-primary mx-1" onclick="ShowDonaturYayasan();">Donatur Yayasan</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 opaque-overlay text-dark bg-light" id="regis-mahasiswa" style="display: none;">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="text-gray-dark">Registrasi Mahasiswa</h1>
          <p class="lead mb-4">Complete all the fields below to send us a message</p>
          <form class="" method="post" action="{% url 'register:registrasi_mahasiswa' %}">
            {% csrf_token %}
            <div class="form-group">
              <label>Username</label>
              <input type="text" id="field-username-mahasiswa" name="username" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" id="field-password" name="password" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>NPM</label>
              <input type="text" id="field-npm" name="npm" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Email address</label>
              <input type="email" id="field-email" name="email" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Nama Lengkap</label>
              <input type="text" id="field-nama-lengkap" name="nama-lengkap" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Nomor Telepon</label>
              <input type="text" id="field-no-telepon" name="no-telepon" class="form-control"> </div>
            <div class="form-group">
              <label>Alamat Tempat Tinggal</label>
              <input type="text" id="field-alamat-tempat-tinggal" name="alamat-tempat-tinggal" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Alamat Domisili</label>
              <input type="text" id="field-alamat-domisili" name="alamat-domisili" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Instansi Bank</label>
              <input type="text" id="field-instansi-bank" name="instansi-bank" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>No Rekening Bank</label>
              <input type="text" id="field-no-rekening" name="no-rekening" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Nama Pemilik</label>
              <input type="text" id="field-nama-pemilik" name="nama-pemilik" class="form-control" required="required"> </div>
            <input type="submit" id="submit" class="btn btn-secondary" value="Daftar">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 opaque-overlay text-dark bg-light" id="regis-donatur-individual" style="display: none;">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="text-gray-dark">Registrasi Donatur Individual</h1>
          <p class="lead mb-4">Complete all the fields below to send us a message</p>
          <form class="" method="post" action="{% url 'register:registrasi_donatur_individual' %}">
            {% csrf_token %}
            <div class="form-group">
              <label>Username</label>
              <input type="text" id="field-username-individu" name="username" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" id="field-password-individu" name="password" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>No Identitas</label>
              <input type="text" id="field-no-identitas-individu" name="no-identitas" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>NIK</label>
              <input type="text" id="field-nik-individu" name="nik" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Email address</label>
              <input type="email" id="field-email-individu" name="email" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Nama Lengkap</label>
              <input type="text" id="field-nama-lengkap-individu" name="nama-lengkap" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>NPWP</label>
              <input type="text" id="field-npwp-individu" name="npwp" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Nomor Telepon</label>
              <input type="text" id="field-no-telepon-individu" name="no-telepon" class="form-control"> </div>
            <div class="form-group">
              <label>Alamat Lengkap</label>
              <input type="text" id="field-alamat-lengkap-individu" name="alamat-lengkap" class="form-control" required="required"> </div>
            <input type="submit" id="submit-individu" class="btn btn-secondary" value="Daftar">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 opaque-overlay text-dark bg-light" id="regis-donatur-yayasan" style="display: none;">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="text-gray-dark">Registrasi Donatur Yayasan</h1>
          <p class="lead mb-4">Complete all the fields below to send us a message</p>
          <form class="" method="post" action="{% url 'register:registrasi_donatur_yayasan' %}">
            {% csrf_token %}
            <div class="form-group">
              <label>Username</label>
              <input type="text" id="field-username-yayasan" name="username" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" id="field-password-yayasan" name="password" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>No Identitas</label>
              <input type="text" id="field-no-identitas-yayasan" name="no-identitas" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>No SK Yayasan</label>
              <input type="text" id="field-no-sk-yayasan" name="no-sk-yayasan" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Email address</label>
              <input type="email" id="field-email-yayasan" name="email" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Nama Yayasan</label>
              <input type="text" id="field-nama-yayasan" name="nama-yayasan" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>NPWP</label>
              <input type="text" id="field-npwp-yayasan" name="npwp" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Nomor Telepon Contact Person</label>
              <input type="text" id="field-no-telp-cp-yayasan" name="no-telp-cp" class="form-control"> </div>
            <div class="form-group">
              <label>Alamat Lengkap</label>
              <input type="text" id="field-alamat-lengkap-yayasan" name="alamat-lengkap" class="form-control" required="required"> </div>
            <input type="submit" id="submit-yayasan" class="btn btn-secondary" value="Daftar">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $("#field-username-mahasiswa").change(function () {
        console.log( $(this).val() );
        username = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "register:validate_username" %}',
            data: {
                'username': username,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Username ini sudah terdaftar, silahkan masukkan username lain");
                    $("#field-username-mahasiswa").val("");
                }
            }
        });
    });

    $("#field-password").change(function () {
        console.log( $(this).val() );
        password = $(this).val();
        var letter = /[a-zA-Z]/;
        var number = /[0-9]/;
        if (password.length < 8){
          alert("Password minimal memiliki 8 karakter");
          $(this).val("");
        }
        if (!letter.test(password) || !number.test(password)) {
          alert("Password harus memiliki huruf dan angka");
          $(this).val("");
        }
    });

    $("#field-npm").change(function () {
        console.log( $(this).val() );
        username = $("#field-username-mahasiswa").val();
        npm = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "register:validate_mahasiswa" %}',
            data: {
                'username': username, 'npm' : npm
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.username_is_taken) {
                    alert("Username ini sudah terdaftar, silahkan masukkan username lain");
                }
                else if(data.npm_is_taken) {
                    alert("NPM ini sudah terdaftar, silahkan masukkan NPM lain atau ingat kembali akun anda yang lama");
                }
            }
        });
    });     

    $("#field-username-individu").change(function () {
        console.log( $(this).val() );
        username = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "register:validate_username" %}',
            data: {
                'username': username,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Username ini sudah terdaftar, silahkan masukkan username lain");
                    $("#field-username-individu").val("");
                }
            }
        });
    });

    $("#field-password-individu").change(function () {
        console.log( $(this).val() );
        password = $(this).val();
        var letter = /[a-zA-Z]/;
        var number = /[0-9]/;
        if (password.length < 8){
          alert("Password minimal memiliki 8 karakter");
          $(this).val("");
        }
        if (!letter.test(password) || !number.test(password)) {
          alert("Password harus memiliki huruf dan angka");
          $(this).val("");
        }
    });

    $("#field-no-identitas-individu").change(function () {
        console.log( $(this).val() );
        nomor_identitas = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "register:validate_no_identitas" %}',
            data: {
                'nomor_identitas': nomor_identitas,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Nomor Identitas ini sudah terdaftar, silahkan masukkan Nomor Identitas lain");
                    $("#field-no-identitas-individu").val("");
                }
            }
        });
    });

    $("#field-nik-individu").change(function () {
        console.log( $(this).val() );
        username = $("#field-username-individu").val();
        nik = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "register:validate_individu" %}',
            data: {
                'username': username, 'nik' : nik
            },
            dataType: 'json',
            success: function (data) {                        
                console.log(data)
                if (data.username_is_taken) {
                    alert("Username ini sudah terdaftar, silahkan masukkan username lain");
                    $("#field-nik-individu").val("");
                }
                else if(data.nik_is_taken) {
                    alert("NIK ini sudah terdaftar, silahkan masukkan NIK lain atau ingat kembali akun anda yang lama");
                    $("#field-nik-individu").val("");
                }

                else if(data.length_is_not) {
                    alert("Panjang NIK harus tepat 16 karakter");
                      $("#field-nik-individu").val("");
                }
            }
        });
    }); 

    $("#field-username-yayasan").change(function () {
        console.log( $(this).val() );
        username = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "register:validate_username" %}',
            data: {
                'username': username,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Username ini sudah terdaftar, silahkan masukkan username lain");
                    $("#field-username-yayasan").val("");
                }
            }
        });
    });

    $("#field-password-yayasan").change(function () {
        console.log( $(this).val() );
        password = $(this).val();
        var letter = /[a-zA-Z]/;
        var number = /[0-9]/;
        if (password.length < 8){
          alert("Password minimal memiliki 8 karakter");
          $(this).val("");
        }
        if (!letter.test(password) || !number.test(password)) {
          alert("Password harus memiliki huruf dan angka");
          $(this).val("");
        }
    });

    $("#field-no-identitas-yayasan").change(function () {
        console.log( $(this).val() );
        nomor_identitas = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "register:validate_no_identitas" %}',
            data: {
                'nomor_identitas': nomor_identitas,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Nomor Identitas ini sudah terdaftar, silahkan masukkan Nomor Identitas lain");
                    $("#field-no-identitas-yayasan").val("");
                }
            }
        });
    });

    $("#field-no-sk-yayasan").change(function () {
        console.log( $(this).val() );
        username = $("#field-username-yayasan").val();
        sk = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "register:validate_yayasan" %}',
            data: {
                'username': username, 'sk' : sk
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.username_is_taken) {
                    alert("Username ini sudah terdaftar, silahkan masukkan username lain");
                    $("#field-no-sk-yayasan").val("");
                }
                else if(data.sk_is_taken) {
                    alert("No SK ini sudah terdaftar, silahkan masukkan No SK lain atau ingat kembali akun anda yang lama");
                    $("#field-no-sk-yayasan").val("");
                }
            }
        });
    }); 

    function ShowMahasiswa(){
      var mahasiswa = document.getElementById('regis-mahasiswa');
      var yayasan = document.getElementById('regis-donatur-yayasan');
      var individu = document.getElementById('regis-donatur-individual');
      if (individu.style.display === "block" || yayasan.style.display === "block"){
        individu.style.display = "none";
        yayasan.style.display = "none";
        mahasiswa.style.display = "block";
      }
      else {
        mahasiswa.style.display = "block";
      }
    }

    function ShowDonaturIndividu(){
      var mahasiswa = document.getElementById('regis-mahasiswa');
      var yayasan = document.getElementById('regis-donatur-yayasan');
      var individu = document.getElementById('regis-donatur-individual');
      if (mahasiswa.style.display === "block" || yayasan.style.display === "block"){
        mahasiswa.style.display = "none";
        yayasan.style.display = "none";
        individu.style.display = "block";
      }
      else {
        individu.style.display = "block";
      }
    }

    function ShowDonaturYayasan(){
      var mahasiswa = document.getElementById('regis-mahasiswa');
      var yayasan = document.getElementById('regis-donatur-yayasan');
      var individu = document.getElementById('regis-donatur-individual');
      if (mahasiswa.style.display === "block" || individu.style.display === "block"){
        mahasiswa.style.display = "none";
        individu.style.display = "none";
        yayasan.style.display = "block";
      }
      else {
        yayasan.style.display = "block";
      }
    }
  </script>
{% endblock %}