{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css"> </head>

<body>

  <header>
    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
      <div class="container">
        <a class="navbar-brand" href='{% url "halaman_utama:index" %}'>
          <b>SIMBION</b>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if role == "mahasiswa" %}
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
          <ul class="navbar-nav" style="opacity: 1;">
            <li class="nav-item" id="tab-pengumuman">
              <a class="nav-link" href="{% url 'halaman_utama:index' %}#pengumuman_halaman_awal">Pengumuman</a>
            </li>
            <li class="nav-item" id="tab-list-beasis">
              <a class="nav-link" href="{% url 'halaman_utama:index' %}#beasiswa_halaman_utama" id="tab-list-beasis">List Beasiswa</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kegiatan</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Lihat Status Beasiswa</a>
                <a class="dropdown-item" href="#">Daftar Beasiswa</a>
                <a class="dropdown-item" href="#">Lihat Hasil Seleksi Beasiswa</a>
              </div>
            </li>
          </ul>
          <a class="btn navbar-btn ml-2 text-white btn-danger" href='{% url "login:auth_logout" %}'>
            <i class="fa d-inline fa-lg fa-user-circle-o"></i>Logout</a>
        </div>
      </div>
    </nav> 
        {% elif role == "donatur" %}
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
          <ul class="navbar-nav" style="opacity: 1;">
            <li class="nav-item" id="tab-pengumuman">
              <a class="nav-link" href="{% url 'halaman_utama:index' %}#pengumuman_halaman_awal">Pengumuman</a>
            </li>
            <li class="nav-item" id="tab-list-beasis">
              <a class="nav-link" href="{% url 'halaman_utama:index' %}#beasiswa_halaman_utama" id="tab-list-beasis">List Beasiswa</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kegiatan</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="List_beasiswa.html">Lihat Beasiswa Anda</a>
                <a class="dropdown-item" href='{% url "daftarbeasiswa:pendaftaranpaket" %}'>Membuat Paket Beasiswa Baru</a>
                <a class="dropdown-item" href='{% url "daftarbeasiswa:tambahbeasiswa" %}'>Menambahkan Beasiswa dari Paket</a>
                <a class="dropdown-item" href="#">Membuat Pengumuman</a>
              </div>
            </li>
          </ul>
          <a class="btn navbar-btn ml-2 text-white btn-danger" href='{% url "login:auth_logout" %}'>
            <i class="fa d-inline fa-lg fa-user-circle-o"></i>Logout</a>
        </div>
      </div>
    </nav>

        {% elif role == "admin" %}
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
          <ul class="navbar-nav" style="opacity: 1;">
            <li class="nav-item" id="tab-pengumuman">
              <a class="nav-link" href="{% url 'halaman_utama:index' %}#pengumuman_halaman_awal">Pengumuman</a>
            </li>
            <li class="nav-item" id="tab-list-beasis">
              <a class="nav-link" href="{% url 'halaman_utama:index' %}#beasiswa_halaman_utama" id="tab-list-beasis">List Beasiswa</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kegiatan</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Lihat Tempat Wawancara</a>
                <a class="dropdown-item" href="#">Membuat Tempat Wawancara</a>
                <a class="dropdown-item" href="#">Membuat Pengumuman</a>
              </div>
            </li>
          </ul>
          <a class="btn navbar-btn ml-2 text-white btn-danger" href='{% url "login:auth_logout" %}'>
            <i class="fa d-inline fa-lg fa-user-circle-o"></i>Logout</a>
        </div>
      </div>
    </nav>

        {% else %}
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item" id="tab-pengumuman">
              <a class="nav-link" href="{% url 'halaman_utama:index' %}#pengumuman_halaman_awal">Pengumuman</a>
            </li>
            <li class="nav-item" id="tab-list-beasis">
              <a class="nav-link" href="{% url 'halaman_utama:index' %}#beasiswa_halaman_utama" id="tab-list-beasis">List Beasiswa</a>
            </li>
          </ul>
          <a class="btn navbar-btn ml-2 text-white btn-secondary" href='{% url "login:login" %}'>
            <i class="fa d-inline fa-lg fa-user-circle-o"></i> Sign in</a>
        </div>
      </div>
    </nav>
        {% endif %}   
  </header>

  {% block content %}
     <!-- content goes here -->
  {% endblock %}

  <footer>
    <div class="bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="p-4 col-md-3">
            <h2 class="mb-4 text-secondary">SIMBION</h2>
            <p class="text-white">A company for whatever you may need, from website prototyping to publishing</p>
          </div>
          <div class="p-4 col-md-3">
            <h2 class="mb-4 text-secondary">Mapsite</h2>
            <ul class="list-unstyled">
              <a href="#" class="text-white">Home</a>
              <br>
              <a href="#" class="text-white">About us</a>
              <br>
              <a href="#" class="text-white">Our services</a>
              <br>
              <a href="#" class="text-white">Stories</a>
            </ul>
          </div>
          <div class="p-4 col-md-3">
            <h2 class="mb-4">Contact</h2>
            <p>
              <a href="tel:+246 - 542 550 5462" class="text-white">
                <i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
            </p>
            <p>
              <a href="mailto:info@pingendo.com" class="text-white">
                <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@pingendo.com</a>
            </p>
            <p>
              <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank">
                <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>365 Park Street, NY</a>
            </p>
          </div>
          <div class="p-4 col-md-3">
            <h2 class="mb-4 text-light">Subscribe</h2>
            <form>
              <fieldset class="form-group text-white">
                <label for="exampleInputEmail1">Get our newsletter</label>
                <input type="email" class="form-control" placeholder="Enter email"> </fieldset>
              <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <p class="text-center text-white">© Copyright Kelompok 20 Basis Data B - All rights reserved. </p>
          </div>
        </div>
      </div>
    </div>    
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  {% block javascript %}
     <!-- content goes here -->
  {% endblock %}

</body>

</html>