{% extends "halaman_utama/base/base.html" %}
{% load staticfiles %}
{% load static %}
{% load my_tags %}

{% block content %}
<style type="text/css">
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content4 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close4 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close4:hover,
.close4:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
</style>

  {% if role == "" %}
    <div class="py-5 text-center" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-primary">SIMBION</h1>
          <p class="lead mb-5">Merupakan sistem beasiswa online universitas X</p>
          <a href='{% url "login:login" %}' class="btn btn-lg mx-1 btn-secondary">Login</a>
          <a href='{% url "register:index" %}' class="btn btn-lg btn-primary mx-1">Register</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="py-5" id="pengumuman_halaman_awal">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="py-2 text-center" style="margin-bottom: 50px">PENGUMUMAN</h1>
        </div>
      </div>
    </div>
    <div class="container">
      {% if all_pengumuman %}
        {% for pengumuman in all_pengumuman %}
          {% if pengumuman.id|divisibleby:2 == 1 %}
            <div class="row mb-5">
              <div class="col-md-7">
                <h2 class="text-primary">{{ pengumuman.judul }}</h2>
                <p>Tanggal: {{ pengumuman.tanggal }}</p>
                <p>No Urut Skema Beasiswa: {{ pengumuman.no_urut_skema_beasiswa_aktif }} </p>
                <p>Kode Skema Beasiswa: {{ pengumuman.kode_skema_beasiswa }} </p>
                <p class="">{{ pengumuman.isi }}</p>
              </div>
              <div class="col-md-5 align-self-center">
                <img class="img-fluid d-block w-100 img-thumbnail" src="https://pingendo.github.io/templates/sections/assets/gallery_9.jpg"> </div>
            </div>

          {% else %}
            <div class="row">
              <div class="col-md-5">
                <img class="img-fluid d-block mb-4 w-100 img-thumbnail" src="https://pingendo.github.io/templates/sections/assets/gallery_3.jpg"> </div>
              <div class="col-md-7">
                <h2 class="text-primary pt-3">{{ pengumuman.judul }}</h2>
                <p>Tanggal: {{ pengumuman.tanggal }}</p>
                <p>No Urut Skema Beasiswa: {{ pengumuman.no_urut_skema_beasiswa_aktif }} </p>
                <p>Kode Skema Beasiswa: {{ pengumuman.kode_skema_beasiswa }} </p>
                <p class="">{{ pengumuman.isi }}</p>
              </div>
            </div>   
          {% endif %}   
        {% endfor %}
        <div class="list-group-item clearfix">
          <div class="pagination">
              <span class="step-links" style="text-align: center;">
                  {% if all_pengumuman.has_previous %}
                      <a href="?pengumuman_page={{ all_pengumuman.previous_page_number }}">Previous</a>
                  {% endif %}

                  {% if all_pengumuman.number == 1 %}
                  <span class="current" style="margin-right: 437px; margin-left: 490px;">
                      Page {{ all_pengumuman.number }} of {{ all_pengumuman.paginator.num_pages }}.
                  </span>

                  {% elif all_pengumuman.number == all_pengumuman.num_pages %}
                  <span class="current" style="margin-right: 490px; margin-left: 437px;">
                      Page {{ all_pengumuman.number }} of {{ all_pengumuman.paginator.num_pages }}.
                  </span>

                  {% else %}
                  <span class="current" style="margin-right: 437px; margin-left: 437px;">
                      Page {{ all_pengumuman.number }} of {{ all_pengumuman.paginator.num_pages }}.
                  </span>
                  {% endif %}

                  {% if all_pengumuman.has_next %}
                      <a href="?pengumuman_page={{ all_pengumuman.next_page_number }}">Next</a>
                  {% endif %}
              </span>
          </div>
        </div>        
      {% else %}
        <div class="alert alert-danger text-center">
          <strong>Opps!</strong> Tidak ada Pengumuman
        </div>
      {% endif %}
    </div>
  </div>
 

  <div class="py-5 text-center bg-light" id="beasiswa_halaman_utama">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Beasiswa Saat Ini</h1>
          <p class="lead">We grow together with the community</p>
        </div>
      </div>      
      {% if all_beasiswa_aktif %}        
        <div class="row">
          {% for beasiswa_aktif in all_beasiswa_aktif %}
          <div class="col-md-4 p-4">
            {% if beasiswa_aktif.id|divisibleby:3 == 0 %}
              <img class="img-fluid d-block rounded-circle mx-auto" src="https://pingendo.github.io/templates/sections/assets/test_meow.jpg">
            {% else %}
              <img class="img-fluid d-block rounded-circle mx-auto" src="https://pingendo.github.io/templates/sections/assets/test_carlito.jpg">
            {% endif %}



            <p>
              <p>No: {{ beasiswa_aktif.id }} </p>
              <p>{{ beasiswa_aktif.nama }}</p>
              <p>Jumlah Pendaftar : {{ beasiswa_aktif.jumlah_pendaftar }}</p>
              <p>Dibuka Sampai : {{ beasiswa_aktif.tgl_tutup_pendaftaran }} </p>
              <b>Status : {{ beasiswa_aktif.status }}</b>
            </p>


            {% if beasiswa_aktif.id|modulo:3 == 1 %}
            <button id="myBtn">Informasi Detail</button>

            <div id="myModal" class="modal">

              <div class="modal-content">
                <span class="close">&times;</span>
                <p>{{ beasiswa_aktif.nama }} - {{ beasiswa_aktif.id }} </p>
                <p>Beasiswa {{ beasiswa_aktif.jenis }} dibuat oleh {{ beasiswa_aktif.nomor_identitas_donatur }} </p>
                <p>{{ beasiswa_aktif.deskripsi }}</p>
                <p>{{ beasiswa_aktif.syarat }}</p>
              {% if role == "mahasiswa" %}
                <button> Daftar Beasiswa Ini</button> 
              {% endif %}
              </div>
            </div>

            {% elif beasiswa_aktif.id|modulo:3 == 2 %}
            <button id="myBtn2">Informasi Detail</button>
            <!-- The Modal -->
            <div id="myModal2" class="modal2">
              <!-- Modal content -->
              <div class="modal-content2">
                <span class="close2">&times;</span>
                <p>{{ beasiswa_aktif.nama }} - {{ beasiswa_aktif.id }} </p>
                <p>Beasiswa {{ beasiswa_aktif.jenis }} dibuat oleh {{ beasiswa_aktif.nomor_identitas_donatur }} </p>
                <p>{{ beasiswa_aktif.deskripsi }}</p>
                <p>{{ beasiswa_aktif.syarat }}</p>
              {% if role == "mahasiswa" %}
                <button> Daftar Beasiswa Ini</button> 
              {% endif %}
              </div>


            </div>

            {% elif beasiswa_aktif.id|modulo:3 == 0 %}
            <button id="myBtn4">Informasi Detail</button>
            <!-- The Modal -->
            <div id="myModal4" class="modal4">
              <!-- Modal content -->
              <div class="modal-content4">
                <span class="close4">&times;</span>
                <p>{{ beasiswa_aktif.nama }} - {{ beasiswa_aktif.id }} </p>
                <p>Beasiswa {{ beasiswa_aktif.jenis }} dibuat oleh {{ beasiswa_aktif.nomor_identitas_donatur }} </p>
                <p>{{ beasiswa_aktif.deskripsi }}</p>
                <p>{{ beasiswa_aktif.syarat }}</p>
                {% if role == "mahasiswa" %}
                <button> Daftar Beasiswa Ini</button> 
                {% endif %}
              </div>
            </div>

            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class="list-group-item clearfix">
          <div class="pagination">
              <span class="step-links" style="text-align: center;">
                  {% if all_beasiswa_aktif.has_previous %}
                      <a href="?beasiswa_aktif_page={{ all_beasiswa_aktif.previous_page_number }}">Previous</a>
                  {% endif %}

                  {% if all_beasiswa_aktif.number == 1 %}
                  <span class="current" style="margin-right: 437px; margin-left: 490px;">
                      Page {{ all_beasiswa_aktif.number }} of {{ all_beasiswa_aktif.paginator.num_pages }}.
                  </span>

                  {% elif all_beasiswa_aktif.number == all_beasiswa_aktif.num_pages %}
                  <span class="current" style="margin-right: 490px; margin-left: 437px;">
                      Page {{ all_beasiswa_aktif.number }} of {{ all_beasiswa_aktif.paginator.num_pages }}.
                  </span>

                  {% else %}
                  <span class="current" style="margin-right: 437px; margin-left: 437px;">
                      Page {{ all_beasiswa_aktif.number }} of {{ all_beasiswa_aktif.paginator.num_pages }}.
                  </span>
                  {% endif %}

                  {% if all_beasiswa_aktif.has_next %}
                      <a href="?beasiswa_aktif_page={{ all_beasiswa_aktif.next_page_number }}">Next</a>
                  {% endif %}
              </span>
          </div>
        </div>        
      {% else %}
        <div class="alert alert-danger text-center">
          <strong>Opps!</strong> Tidak ada Pengumuman
        </div>
      {% endif %}
    </div>
  </div>

<script type="text/javascript">
  
  // Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<script type="text/javascript">
  // Get the modal
var modal2 = document.getElementById('myModal2');

// Get the button that opens the modal
var btn2 = document.getElementById("myBtn2");

// Get the <span> element that closes the modal
var span2 = document.getElementsByClassName("close2")[0];

// When the user clicks on the button, open the modal 
btn2.onclick = function() {
    modal2.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span2.onclick = function() {
    modal2.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window2.onclick = function(event) {
    if (event.target == modal2) {
        modal2.style.display = "none";
    }
}
</script>

<script type="text/javascript">
  // Get the modal
var modal4 = document.getElementById('myModal4');

// Get the button that opens the modal
var btn4 = document.getElementById("myBtn4");

// Get the <span> element that closes the modal
var span4 = document.getElementsByClassName("close4")[0];

// When the user clicks on the button, open the modal 
btn4.onclick = function() {
    modal4.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span4.onclick = function() {
    modal4.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window4.onclick = function(event) {
    if (event.target == modal4) {
        modal4.style.display = "none";
    }
}

</script>

{% endblock %}